body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  height: 100%;
}

h1 {
  margin-bottom: 20px;
}

#wrapper {
  margin: 0 auto;
  width: 800px;
}

section {
  position: relative;
}

.panel {
  margin: 0 auto;
  width: 800px;  
  position: relative;
}

.stamp {
  position: absolute;
  top: 0;
  left: 200px;
  display: none;
}